@media (max-width: 1439.5px) {
    /* catalog section 2 */
    .app-guitar-card16,
    .app-guitar-card15,
    .app-guitar-card14,
    .app-guitar-card13 {
        display: none;
    }
}

@media (max-width: 1330px) {
    /* section 3 */
    .app-section3 {
        padding-inline: 32px;
    }

    .app-section3-cards-container {
        overflow-x: scroll;
    }

    .app-guitar-card-overflow {
        flex: 1 0 298px;
    }
}

@media (max-width: 1135px) {
    /* catalog section 2 */
    .app-catalog-section2 {
        padding-inline: 45px;
    }
}

@media (max-width: 1025px) {
    /* header */
    .app-header-nav {
        display: none;
    }

    .app-header-burgerIcon-link {
        display: block;
    }

    /* footer  */
    footer {
        padding-inline: 96px;
    }

    /* section 3 */

    .app-header-menu {
        position: absolute;
        left: 0;
        top: 100%;
        padding: 16px 56px 16px 16px;
        background: #05BCCA;
    }

    .show {
        display: block;
    }

    
    .app-header-menu-nav-ul {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
    
    .app-header-menu-nav-li-link {
        color: #C46A2B;
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

}

@media (max-width: 1023.5px) {
    /* catalog section 2 */
    .app-guitar-card12,
    .app-guitar-card11,
    .app-guitar-card10,
    .app-guitar-card9 {
        display: none;
    }
}