@media (max-width: 486px) {
    /* container */
    .container {
        padding-top: 72px;
    }

    /* header */
    header {
        padding-inline: 8px;
    }

    .app-header-logo-link {
        width: 40px;
        height: 40px;
    }

    .app-header-rightSide {
        column-gap: 16px;
    }

    .app-header-rightSide button {
        width: 32px;
        height: 32px;
    }

    /* section 1 */
    .app-section1-header {
        font-size: 24px;
    }

    /* section 2 */
    .app-section2 {
        padding: 32px 8px;
    }

    .app-section2-card {
        height: 160px;
    }

    .app-section2-header {
        top: 8px;
        left: 8px;
        font-size: 16px;
    }
}