@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}

/* header */
header {
    display: flex;
    padding: 16px 94px;
    align-items: center;
    justify-content: space-between;
    background: #012426;
    position: fixed;
    top: 0;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.app-header-xIcon-link, .app-header-burgerIcon-link, .app-header-xmarkIcon {
    display: none;
}

.app-header-nav-ul {
    display: flex;
    align-items: center;
    column-gap: 72px;
}

.app-header-nav-li-link {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    transition: 0.3s;
}

.app-header-nav-li-link:hover {
    text-shadow: 0 0 5px #05BCCA, 0 0 10px #05BCCA, 0 0 20px #05BCCA;
    color: white;
}

.app-header-logo-link {
    width: 64px;
    height: 64px;
}

.app-header-logo:hover {
    filter: drop-shadow(0 5px 10px red);
}

.app-header-logo {
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.app-header-rightSide {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.app-header-rightSide button{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.app-header-rightSide button img:hover{
    filter: drop-shadow(0 5px 10px #05BCCA);
}

.app-header-rightSide button img {
    width: 100%;
    height: 100%;
}

.app-header-menu {
    display: none;
}

 
/* section 1 */
.app-section1 {
    display: flex;
    height: 480px;
    background-image: url(../images/cover-section1-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: flex-start;
    justify-content: center;
}

.app-section1-content {
    display: flex;
    align-items: center;
    column-gap: 24px;
    margin-top: 72px;
}

.app-section1-header {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}

.app-section1-header-new {
    color: #FFF;
}

.app-section1-button {
    border-radius: 4px;
    background: #C46A2B;
    height: 24px;
    padding: 0px 6px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

.app-section1-button:hover {
    background-color: #05BCCA;
    padding: 0px 1px 0px 11px;
}

/* section 2 */
.app-section2 {
    background: #012426;
    padding: 96px 98px;
    display: flex;
    justify-content: center;
}

.app-section2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 824px;
}

.app-section2-card-blue {
    background-image: url(../images/pickPhotoBlue-section2-home.png);
}

.app-section2-card-red {
    background-image: url(../images/pickPhotoRed-section2-home.png);
}

.app-section2-card {
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.app-section2-header {
    position: absolute;
    top: 16px;
    left: 16px;
    color: #F5F5F5;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
}

/* section 3 */
.app-section3 {
    padding: 96px 94px;
    background: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 64px;
}

.app-section3-header {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    position: relative;
}

.app-section3-header::after {
    content: "";
    width: 187.267px;
    height: 2px;
    background: #05BCCA;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110%;
}

.app-section3-cards-container {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

.app-guitar-card {
    border: 1px solid #05BCCA;
    background: #2C4246;
    display: flex;
    width: 298px;
    height: 400px;
    padding: 8px 8px 16px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.app-guitar-card-overflow {
    width: 100%;
}

.app-guitar-card-overflow:hover {
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
    border: none;
}

.app-guitar-card-img {
    width: 100%;
    height: 100%;
}

.app-guitar-card-header {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
}

.app-guitar-card-price_reviews {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.app-guitar-card-reviews {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.app-guitar-card-reviews-stars {
    animation: glow 5s infinite;

}

@keyframes glow {
    0% { filter: drop-shadow(0 0 4px #99B900); }
    50% { filter: drop-shadow(0 0 0px #99B900); }
    100% { filter: drop-shadow(0 0 4px #99B900); }
}

.app-guitar-card-price_reviews-numb {
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.app-guitar-card-price {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* section 4 */
.app-section4 {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    height: 320px;
    background-image: url(../images/cover-section4-home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.app-section4-header {
    color: #05BCCA;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 19px;
}

.app-section4-form-input {
    border-radius: 8px;
    border: 1px solid #F5F5F5;
    background: rgba(44, 66, 70, 0.80);
    height: 48px;
    width: 480px;
    padding-left: 8px;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.app-section4-form {
    position: relative;
}

.app-section4-form-button {
    position: absolute;
    border-radius: 0px 8px 8px 0px;
    background: #05BCCA;
    padding: 15px 14px 14px 14px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    border: none;
    right: 0;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
    transition: all ease 0.8s;

}

.app-section4-form-button:hover {
    box-shadow: inset 119px 0 0 0 #e0e0e0;
    color: #05BCCA;
}

/* footer  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2C4246;
    padding: 48px 21% 64px 21%;
    row-gap: 64px;
}

.app-footer-lists-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.app-footer-list-container {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.app-footer-list-header {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.app-footer-list-header-container {
    position: relative;
}

.app-footer-list-header::after {
    content: "";
    width: 80px;
    height: 2px;
    background: #D9D9D9;
    position: absolute;
    left: 0;
    top: 36px;
}

.app-footer-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.app-footer-listItem-link {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.app-footer-listItem-link:hover {
    color: #05BCCA;
}

.app-footer-listItem-cocial-container {
    display: flex;
    column-gap: 16px;
}

.app-footer-listItem-cocial-container a{
    width: 32px;
    height: 32px;
    transition: all 0.3s linear;
}

.app-footer-listItem-cocial-container a:hover{
    transform: scale(1.5);
}

.app-footer-listItem-cocial-container a img{
    width: 100%;
    height: 100%;
}

.app-footer-copyright {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.app-footer-copyright span {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* catalog */
/* catalog section 1 */

.app-catalog-section1 {
    border-top: 2px solid #05BCCA;
    background: #1A1A1A;
    display: flex;
    padding: 36px 0;
    justify-content: center;
}

.app-catalog-section1-button {
    background-color: transparent;
    border: 1px solid #05BCCA;
    padding: 18px 24px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    transition: 0.5s;
}

.app-catalog-section1-button:hover {
    background: #A1C3C9;
    color: #2C4246;
    cursor: pointer;
}

.app-catalog-section1-button-active {
    background: #A1C3C9;
    color: #2C4246;
}

/* catalog section 2 */
.app-catalog-section2 {
    padding: 96px 94px;
    background: #012426;
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}

.app-catalog-section2-filter_sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-catalog-section2-filter_sort-header {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.app-catalog-section2-filter_sort-header-text {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.app-catalog-section2-sort {
    display: flex;
    column-gap: 32px;
}

.app-catalog-section2-sort-button {
    padding: 4px 8px;
    border-radius: 4px;
    background: #A1C3C9;
    display: flex;
    align-items: center;
    column-gap: 33px;
    border: none;
}

.app-catalog-section2-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
}

.app-catalog-section2-pages-button {
    border-radius: 8px;
    background: #C46A2B;
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, #C46A2B 50%, #943e01 50%);
    background-position: left bottom;
    background-size: 200% 100%;
    transition: all 0.5s ease;
}

.app-catalog-section2-pages-previous:hover {
    background-position: right bottom;
    padding-inline: 1px 25px;
    gap: 5px;
}

.app-catalog-section2-pages-next {
    background: linear-gradient(to right, #004256 50%, #05BCCA 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.app-catalog-section2-pages-next:hover {
    background-position: left bottom;
    padding-inline: 25px 1px;
    gap: 5px;
}

.app-catalog-section2-pages-button-text {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.app-catalog-section2-pages-info {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.app-catalog-section2-cards-container .app-guitar-card {
    border: none;
    padding: 0 0 16px 0;
    overflow: hidden;
}

.app-catalog-section2-cards-container .app-guitar-card:hover {
    transform: translate(3px, -3px);
    box-shadow: -3px 3px #05BCCA;
}

.app-catalog-section2-cards-container .app-guitar-card .app-guitar-card-img {
    transition: 0.3s ease-in;
}
.app-catalog-section2-cards-container .app-guitar-card .app-guitar-card-img:hover {
    transform: scale(1.15) translateY(-6.52%);
}

.app-catalog-section2-cards-container .app-guitar-card .app-guitar-card-header{
    padding-inline: 8px;
}

.app-catalog-section2-cards-container .app-guitar-card .app-guitar-card-price_reviews{
    padding-inline: 8px;
}

.app-catalog-section2-cards-container {
    display: flex;
    gap: 40px 20px;
    justify-content: center;
    flex-flow: row wrap;
}

/* contact */
/* contact section 1 */
.app-contact-section1 {
    background-image: url(../images/contact\ cover.png);
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    padding: 96px 94px 0 94px;
}

.app-contact-section1-content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 616px;
}

.app-contact-section1-header {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.app-contact-section1-contact-info {
    display: flex;
    justify-content: space-between;
    background: #2C4246;
    padding: 35px 40px;
}

.app-contact-section1-contact-info-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.app-contact-section1-contact-info-link {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.app-contact-section1-contact-info-link:hover {
    text-shadow: 0 0 2px #05BCCA, 0 0 5px #05BCCA;
    filter: drop-shadow(2px 2px 5px #05BCCA);

}

.app-contact-section1-contact-location-link:hover {
    filter: drop-shadow(0px 5px 5px #05BCCA);

}

.app-contact-section1-contact-info-link span {
    color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.app-contact-section1-bottom {
    display: flex;
    gap: 40px;
}

.app-contact-section1-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.app-contact-section1-form-name_mail {
    display: flex;
    column-gap: 8px;
}

.app-contact-section1-form-input {
    padding: 6px 8px;
    background: #2C4246;
    width: 48.62%;
    border: none;
    color: #A1C3C9;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.app-contact-section1-form-input-textarea {
    width: 100%;
    height: 103px;
    resize: none;
}

.app-contact-section1-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background: #C46A2B;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    transition: 1s;
}


.app-contact-section1-form-button:hover {
    background-color: transparent;
    color: #2C4246;
    font-size: 30px;
}

.app-contact-section1-bottom-social {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.app-contact-section1-bottom-social-icons {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
}

.app-contact-section1-bottom-social-icons a{
    width: 32px;
    height: 32px;
    transition: 0.5s;
}

.app-contact-section1-bottom-social-icons a:hover{
    transform: scale(1.5);
}

.app-contact-section1-bottom-social-icons a img{
    width: 100%;
    height: 100%;
}